.Link {
    display: inline;

    color: inherit;
    text-decoration: none;

    --unit: calc(var(--text-font-size) * 0.5);

    border-radius: calc(var(--unit) * 0.5);
    padding-left: calc(var(--unit) * 0.5);
    padding-right: calc(var(--unit) * 0.5);
    margin-left: calc(var(--unit) * -0.5);
    margin-right: calc(var(--unit) * -0.5);
}

.Link_display_inline-block {
    display: inline-block;
}

.Link_color_blue {
    color: var(--accent-color);
}

.Link:hover {
    background: rgba(var(--primary-color-rgb), 0.08);
}

.Link_color_blue:hover {
    background: rgba(var(--accent-color-rgb), 0.08);
}
