/* HomePage */

.HomePage {
    font-size: var(--h2-font-size);
    line-height: var(--text-line-height);
}

.HomePage-About {
    position: relative;
}

.HomePage-About p {
    margin: 0;
}

.HomePage-About p + p {
    margin: 1em 0 0;
}

.HomePage-About img {
    margin: 0 0.1em;

    vertical-align: bottom;

    width: 40px;
    height: 40px;

    border-radius: 50%;
}

.HomePage-Footer {
    color: var(--color-content-secondary);
}

.HomePage .Links,
.HomePage-Footer {
    margin-top: 64px;
}

/* Links */

.Links {
    display: flex;
    flex-direction: column;
}

.Links-Link {
    width: max-content;
}

.Links-Link + .Links-Link {
    margin-top: 12px;
}

@media (max-width: 960px) {
    .HomePage-About img {
        width: 36px;
        height: 36px;
    }

    .HomePage .Links,
    .HomePage-Footer {
        margin-top: 40px;
    }
}

@media (max-width: 540px) {
    .HomePage {
        font-size: var(--text-font-size);
        line-height: var(--text-line-height);
    }
}
