/* HomePage */

.HomePage {
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
}

.HomePage-About {
    position: relative;

    max-width: 728px;
}

.HomePage-About p {
    margin: 0;
}

.HomePage-About p + p {
    margin: 1em 0 0;
}

.HomePage-About img {
    margin: 0 0.1em;

    vertical-align: bottom;

    width: 40px;
    height: 40px;

    border-radius: 50%;
}

.HomePage .Links {
    margin-top: 64px;
}

/* Links */

.Links {
    display: flex;
    flex-direction: column;
}

.Links-Link {
    width: max-content;
}

.Links-Link + .Links-Link {
    margin-top: 12px;
}

.Links-LinkUsername {
    display: none;

    color: var(--secondary-color);
}

.Links-LinkUsername::before {
    content: '  ';
    white-space: pre-wrap;
}

.Links-Link:hover .Links-LinkUsername {
    display: inline;
}

@media (hover: none) {
    .Links-LinkUsername {
        display: inline;
    }
}

@media (max-width: 1200px) {
    .HomePage-About {
        max-width: 760px;
    }
}

@media (max-width: 960px) {
    .HomePage {
        max-width: 420px;
    }

    .HomePage-About {
        margin-top: 24px;
    }

    .HomePage-About img {
        width: 36px;
        height: 36px;
    }

    .HomePage .Links {
        margin-top: 40px;
    }
}

@media (max-width: 540px) {
    .HomePage {
        font-size: var(--text-font-size);
        line-height: var(--text-line-height);
    }
}
