.Page_theme_dark {
    --backround-color-rgb: 10, 10, 10;
    --backround-color: rgb(var(--backround-color-rgb));

    --foreground-color-rgb: 255, 255, 255;
    --foreground-color: rgb(var(--foreground-color-rgb));

    --inactive-color: rgba(var(--foreground-color-rgb), 0.3);
}

.Page {
    padding: var(--page-padding-y) var(--page-padding-x);

    min-height: 100vh;
    box-sizing: border-box;

    font-size: var(--text-font-size);
    line-height: var(--text-line-height);

    background: var(--backround-color);
    color: var(--foreground-color);
}

.Page-Menu {
    display: flex;

    color: var(--inactive-color);
}

.Page_direction_horizontal .Page-Menu {
    flex-direction: column;
}

.Page_direction_vertical .Page-MenuLink + .Page-MenuLink {
    margin-left: 20px;
}

.Page_direction_horizontal .Page-MenuLink + .Page-MenuLink {
    margin-top: 8px;
}

.Page-MenuLink_bold {
    font-weight: 700;

    color: var(--foreground-color);
}

.Page_direction_horizontal .Page-Container {
    display: grid;
    grid-template-columns: minmax(240px, 1fr) minmax(400px, 720px) 1fr;

    position: relative;
}

.Page_direction_vertical .Page-Content {
    margin-top: 60px;
}

@media (max-width: 1200px) {
    .Page_direction_horizontal .Page-Container {
        grid-template-columns: minmax(200px, 1fr) minmax(400px, 640px) 1fr;
    }
}

@media (max-width: 960px) {
    .Page_direction_horizontal .Page-Container {
        grid-template-columns: auto;
    }

    .Page .Page-Content {
        margin-top: var(--page-padding-y);
    }
}
