/* Home */

.Home {
    font-size: var(--text-font-size);
    line-height: var(--text-line-height);
}

.Home-Photo {
    display: flex;
    width: 100%;
}

.Home-Photo_size_cropped {
    display: none;
}

.Home-About {
    display: grid;
    grid-template-columns: 400px 248px;
    column-gap: 40px;

    white-space: pre-line;
}

.Home-AboutText p {
    margin: 0;
}

.Home-AboutText p + p {
    margin: 12px 0 0;
}

.Home .Links {
    margin-top: 40px;
}

.Home-FooterNote {
    margin-top: 300px;

    color: var(--inactive-color);
}

@media (max-width: 960px) {
    .Home {
        max-width: 400px;
    }

    .Home-Photo_size_full {
        display: none;
    }

    .Home-Photo_size_cropped {
        display: block;

        margin-top: 20px;
    }

    .Home-About {
        margin-top: 32px;

        display: block;
    }

    .Home .Links {
        margin-top: 40px;
    }
}

@media (max-width: 540px) {
    .Home {
        max-width: unset;
    }
}

/* BlogPreview */

.BlogPreview-Header {
    margin: 0;

    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
}

.BlogPreview-Article {
    margin-top: 20px;
}

.BlogPreview-ArticleHeader {
    margin: 0;

    font-size: var(--text-font-size);
    line-height: var(--text-line-height);
}

.BlogPreview-ArticleContent {
    margin: 4px 0 0;
}

.BlogPreview-ArticleDate {
    color: var(--inactive-color);
}

.BlogPreview-ArticleDate::before {
    content: ' ';
}

/* Links */

.Links {
    display: flex;
    flex-direction: column;
}

.Links-Link {
    width: max-content;
}

.Links-Link + .Links-Link {
    margin-top: 12px;
}

.Links-LinkUsername {
    visibility: hidden;

    color: var(--inactive-color);
}

.Links-LinkUsername::before {
    content: '  ';
    white-space: pre-wrap;
}

.Links-LinkUsername {
    visibility: visible;
}
