.Experience {
    display: flex;
    flex-direction: column;
}

.Experience-Company {
    margin: 0;

    font-size: var(--h1-font-size);
    line-height: var(--h1-line-height);
}

.Experience-Period {
    margin: 16px 0 0;

    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);

    color: var(--secondary-color);
}

.Experience-Content {
    margin-top: 64px;

    max-width: 700px;
}

.Experience-Content > :first-child {
    margin-top: 0;
}

.Writing-Content {
    hyphens: auto;
}

.Writing-Content hr {
    margin: 2rem auto;

    height: 2px;
    width: 20%;

    border: none;
    background: var(--secondary-color);
    opacity: 0.2;
}

.Experience-Content h2 {
    margin: 3rem 0 1.2rem;

    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);

    hyphens: none;
}

.Experience-Content h3 {
    margin: 2rem 0 1rem;

    font-size: var(--h3-font-size);
    line-height: var(--h3-line-height);

    hyphens: none;
}

.Writing-Content a img {
    display: block;
}

.Writing-Content img {
    width: 100%;
}

.Writing-Content ul {
    padding-left: 20px;
}

.Writing-Content p + ul {
    margin-top: -0.5em;
}
