:root {
    --page-padding-x: 64px;
    --page-padding-y: 64px;

    --text-font-size: 20px;
    --text-line-height: 150%;

    --h1-font-size: 40px;
    --h2-font-size: 28px;
    --header-line-height: 120%;

    --color-content-primary-rgb: 38, 38, 38;
    --color-content-primary: rgb(var(--color-content-primary-rgb));
    --color-content-secondary: rgba(var(--color-content-primary-rgb), 0.5);

    --color-background-default: rgb(255, 255, 255);
    --color-background-surface: rgb(242, 241, 238);
    --color-background-glassy: rgba(var(--color-content-primary-rgb), 0.08);
}

@media (max-width: 960px) {
    :root {
        --h1-font-size: 36px;
    }
}

@media (max-width: 540px) {
    :root {
        --page-padding-x: 24px;
        --page-padding-y: 40px;
    }
}
