.Logo {
    width: max-content;
    height: max-content;

    font-size: var(--text-font-size);
    line-height: var(--text-line-height);

    color: var(--inactive-color);

    text-decoration: none;
}

.Logo_view_bold {
    font-weight: 700;

    color: var(--foreground-color);
}
