.WritingPage {
    display: flex;
    flex-direction: column;
}

.WritingPage-Info {
    color: var(--secondary-color);
}

.WritingPage-Title {
    margin: 0;

    font-size: var(--h1-font-size);
    line-height: var(--header-line-height);
}

.WritingPage-Description {
    margin-top: 8px;

    color: var(--secondary-color);
}

.WritingPage-Content > :first-child {
    margin-top: 0;
}

.WritingPage-Title,
.WritingPage-Content {
    margin-top: 64px;
}

.WritingPage-Content hr {
    margin: 2rem auto;

    height: 2px;
    width: 100%;

    border: none;
    background: var(--secondary-color);
    opacity: 0.2;
}

.WritingPage-Content h2 {
    margin: 3rem 0 1.2rem;

    font-size: var(--h2-font-size);
    line-height: var(--header-line-height);
}

.WritingPage-Content h3 {
    margin: 2rem 0 1rem;

    font-size: var(--h3-font-size);
    line-height: var(--header-line-height);
}

.WritingPage-Content a img {
    display: block;
}

.WritingPage-Content img {
    width: 100%;
}

.WritingPage-Content ul {
    padding-left: 20px;
}

.WritingPage-Content p + ul {
    margin-top: -0.5em;
}

/* BookPreview */

.WritingPage-BookPreview {
    margin-top: 40px;

    display: flex;
    align-items: center;

    color: var(--secondary-color);
}

.WritingPage-BookCover {
    margin-right: 12px;

    height: 80px;
}

.WritingPage-BookMeta {
    display: grid;

    row-gap: 4px;
}

.WritingPage-BookName {
    color: var(--primary-color);
}

@media (max-width: 960px) {
    .WritingPage-Info {
        position: absolute;
        top: 0;
        right: 0;

        text-align: end;
        white-space: nowrap;
    }

    .WritingPage-Title {
        margin-top: 0;
    }

    .WritingPage-Content {
        margin-top: var(--page-padding-y);
    }
}
