.WritingContainer {
    position: relative;

    display: grid;
    grid-template-columns: minmax(240px, 1fr) minmax(400px, 700px) 1fr;
}

.Writing {
    display: flex;
    flex-direction: column;
}

.Writing-Info {
    color: var(--secondary-color);
}

.Writing-Title {
    margin: 0;

    font-size: var(--h1-font-size);
    line-height: var(--h1-line-height);
}

.Writing-Description {
    margin-top: 8px;

    color: var(--secondary-color);
}

.Writing-Content > :first-child {
    margin-top: 0;
}

.Writing-Title,
.Writing-Content {
    margin-top: 80px;
}

.Writing-Content {
    hyphens: auto;
}

.Writing-Content hr {
    margin: 2rem auto;

    height: 2px;
    width: 20%;

    border: none;
    background: var(--secondary-color);
    opacity: 0.2;
}

.Writing-Content h2 {
    margin: 3rem 0 1.2rem;

    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);

    hyphens: none;
}

.Writing-Content h3 {
    margin: 2rem 0 1rem;

    font-size: var(--h3-font-size);
    line-height: var(--h3-line-height);

    hyphens: none;
}

.Writing-Content a img {
    display: block;
}

.Writing-Content img {
    width: 100%;
}

.Writing-Content ul {
    padding-left: 20px;
}

.Writing-Content p + ul {
    margin-top: -0.5em;
}

/* BookPreview */

.Writing-BookPreview {
    margin-top: 40px;

    display: flex;
    align-items: center;

    color: var(--secondary-color);
}

.Writing-BookCover {
    margin-right: 12px;

    height: 80px;
}

.Writing-BookMeta {
    display: grid;

    row-gap: 4px;
}

.Writing-BookName {
    color: var(--primary-color);
}

@media (max-width: 1200px) {
    .WritingContainer {
        grid-template-columns: minmax(200px, 1fr) minmax(400px, 640px) 1fr;
    }
}

@media (max-width: 960px) {
    .WritingContainer {
        grid-template-columns: auto;
    }

    .Writing-Info {
        position: absolute;
        top: 0;
        right: 0;

        text-align: end;
        white-space: nowrap;
    }

    .Writing-Title {
        margin-top: 0;
    }

    .Writing-Content {
        margin-top: var(--page-padding-y);
    }
}
