.Page_theme_dark {
    --background-color-rgb: 10, 10, 10;
    --background-color: rgb(var(--background-color-rgb));

    --primary-color-rgb: 255, 255, 255;
    --primary-color: rgb(var(--primary-color-rgb));

    --secondary-color: rgba(var(--primary-color-rgb), 0.3);
}

.Page {
    padding: var(--page-padding-y) var(--page-padding-x);

    min-height: 100vh;
    box-sizing: border-box;

    font-size: var(--text-font-size);
    line-height: var(--text-line-height);

    background: var(--background-color);
    color: var(--primary-color);
}

.Page-Menu {
    display: flex;

    color: var(--secondary-color);

    white-space: nowrap;
}

.Page-MenuLink + .Page-MenuLink {
    margin-left: 20px;
}

.Page-MenuLink_current {
    color: var(--primary-color);
}

.Page-Content {
    margin-top: var(--page-padding-y);
}

.Page-Menu,
.Page-Content {
    margin-left: auto;
    margin-right: auto;

    max-width: var(--page-max-width);
}
