.Page_theme_dark {
    --color-content-primary-rgb: 255, 255, 255;
    --color-content-primary: rgb(var(--color-content-primary-rgb));
    --color-content-secondary: rgba(var(--color-content-primary-rgb), 0.3);

    --color-background-default: rgb(0, 0, 0);
    --color-background-surface: rgb(10, 10, 10);
}

.Page {
    padding: var(--page-padding-y) var(--page-padding-x);

    display: grid;
    grid-template-columns: repeat(6, minmax(auto, 128px));
    column-gap: 64px;
    justify-content: center;

    min-height: 100vh;
    box-sizing: border-box;

    font-size: var(--text-font-size);
    line-height: var(--text-line-height);

    background: var(--color-background-surface);
    color: var(--color-content-primary);
}

.Page > * {
    grid-column: 2 / -2;
}

@media (max-width: 960px) {
    .Page {
        display: flex;
        flex-direction: column;
    }
}
