.ExperiencePage {
    display: flex;
    flex-direction: column;
}

.ExperiencePage-Company {
    margin: 0;

    font-size: var(--h1-font-size);
    line-height: var(--header-line-height);
}

.ExperiencePage-Period {
    margin: 16px 0 0;

    color: var(--secondary-color);
}

.ExperiencePage-Content {
    margin-top: var(--page-padding-y);
}

.ExperiencePage-Content > :first-child {
    margin-top: 0;
}

.ExperiencePage-Content > p,
.ExperiencePage-Content > ul,
.ExperiencePage-Content > ol {
    margin: 1em 0;
}

.ExperiencePage-Content > hr {
    margin: 4rem auto;

    height: 2px;
    width: 100%;

    border: none;
    background: linear-gradient(
        to right,
        var(--secondary-color),
        var(--secondary-color) 60%,
        transparent 60%,
        transparent 100%
    );
    background-size: 40px 2px;
    opacity: 0.2;
}

.ExperiencePage-Content > h1 {
    margin: 4rem 0 1.2rem;

    font-size: var(--h1-font-size);
    line-height: var(--header-line-height);
}

.ExperiencePage-Content > h2 {
    margin: 3rem 0 1.2rem;

    font-size: var(--h2-font-size);
    line-height: var(--header-line-height);
}

.ExperiencePage-Content > h3 {
    margin: 2rem 0 1rem;

    font-size: var(--h3-font-size);
    line-height: var(--header-line-height);
}

.ExperiencePage-Content > p > a img {
    display: block;
}

.ExperiencePage-Content > p > img {
    width: 100%;
}

.ExperiencePage-Content > p > img,
.ExperiencePage-Content > p > video {
    border: 1px solid var(--divider-color);
    border-bottom: 2px solid var(--divider-color);
    border-radius: 8px;
}

.ExperiencePage-Content :global(.Caption) {
    display: block;

    margin-top: 0.3em;

    font-size: 0.9em;

    color: var(--secondary-color);
}

.ExperiencePage-Content > p + :global(.Caption) {
    margin-top: -1.3em;
}

.ExperiencePage-Content :global(.Caption) p {
    margin: 0;
}

.ExperiencePage-Content > ul,
.ExperiencePage-Content > ol {
    padding-left: 32px;
}

.ExperiencePage-Content > ul li,
.ExperiencePage-Content > ol li {
    margin: 0.5em 0;
}
