:root {
    --page-padding-x: 100px;
    --page-padding-y: 100px;

    --text-font-family: 'PT Root UI VF', 'Helvetica', sans-serif;
    --text-font-weight: 500;
    --text-font-size: 20px;
    --text-line-height: 140%;

    --h1-font-size: 40px;
    --h1-line-height: 120%;

    --h2-font-size: 32px;
    --h2-line-height: 120%;

    --h3-font-size: 24px;
    --h3-line-height: 120%;

    --background-color-rgb: 255, 255, 255;
    --background-color: rgb(var(--background-color-rgb));

    --primary-color-rgb: 11, 11, 11;
    --primary-color: rgb(var(--primary-color-rgb));

    --secondary-color: rgba(var(--primary-color-rgb), 0.5);

    --accent-color-rgb: 62, 136, 223;
    --accent-color: rgb(var(--accent-color-rgb));
}

@media (max-width: 1200px) {
    :root {
        --page-padding-x: 64px;
        --page-padding-y: 64px;

        --h1-font-size: 32px;
        --h2-font-size: 28px;
    }
}

@media (max-width: 540px) {
    :root {
        --page-padding-x: 20px;
        --page-padding-y: 40px;
    }
}
